.list-header {
  background: $off-white;
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
  margin-bottom: 10px;
  border-bottom: 1px solid darken($off-white, 7%);
}

.list-body {
  padding-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    padding-bottom: $l-size;
  }
}

.list-item {
  box-shadow: -1px 3px 10px 0 rgba(0,0,0,.04);
  border-radius: 8px;
  color: $dark-grey;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: all .3s ease;
  margin-bottom: 10px;
  &:hover {
    box-shadow: -1px 3px 10px 0 rgba(0,0,0,.1);
    transition: all .3s ease;
  }

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
